<% include partials/header%>



<div class="container" id='containerForm'>
  <h1>Respostas</h1>
  <h4><%=user.forms.capitulo%></h4>
  <p><%=user.forms.cidade%></p>
  <p><%=user.forms.loja%></p>



</div>


<% include partials/footer%>
